# Датасет — тяжёлый, не коммитим
data/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
*.egg

# Виртуальные окружения
venv/
.venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.tmp
*.log
HW_5_GAN-SR/results/
HW_5_GAN-SR/__pycache__/
